<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Abrir Imagen</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-button expand="block" (click)="OpenImages()">Abrir imagen</ion-button>
    <ion-list *ngIf="images && images.length > 0">
      <img *ngFor="let image of images" [src]="image">

    </ion-list>

  </div>
</ion-content>
